<table [dataSource]="shops" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>Id</th>
    <td *matCellDef="let shop" mat-cell>{{shop.id}}</td>
  </ng-container>
  <ng-container matColumnDef="imagePath">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let shop" mat-cell>
      <div *ngIf="shop.imagePath">
        <img [src]="apiService.filesEndpoint + '/' + shop.imagePath" alt="Ikona sklepu"/>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>Nazwa sklepu</th>
    <td *matCellDef="let shop" mat-cell>{{ shop.name | titlecase }}</td>
  </ng-container>
  <ng-container matColumnDef="productsCount">
    <th *matHeaderCellDef mat-header-cell>Liczba produtków</th>
    <td *matCellDef="let shop" mat-cell> {{ shop.productsCount }}</td>
  </ng-container>
  <ng-container matColumnDef="lastScrappedTime">
    <th *matHeaderCellDef mat-header-cell>Ostatnia interakcja</th>
    <td *matCellDef="let shop" mat-cell> {{ shop.lastScrappedTime | date:'dd-mm-yyyy HH:mm:ss' }}</td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let shop; columns: displayedColumns;"
      [class.inactive-row]="compareShopDates(shop.lastScrappedTime)" mat-row></tr>
</table>
<mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
<mat-paginator [length]="shopsLength" [pageSizeOptions]="[30, 50, 100]" [pageSize]="30"></mat-paginator>
