<div *ngIf="product">
  <h2>{{product.baseInfo}} Details</h2>
  <div><span>id: </span>{{product.id}}</div>
  <div><span>baseInfo: </span>{{product.baseInfo}}</div>
  <div><span>additionalInfo: </span>{{product.additionalInfo}}</div>
  <div><span>normalPrice: </span>{{product.normalPrice}}</div>
  <div><span>outletPrice: </span>{{product.outletPrice}}</div>
  <div><span>quality: </span>{{product.quality}}</div>
  <div><span>discount: </span>{{product.discount}}</div>
  <div><span>updatedAt: </span>{{product.updatedAt}}</div>
  <div><span>createdAt: </span>{{product.createdAt}}</div>
  <div><span>shop: </span>{{product.shop}}</div>
  <div><span>link: </span>{{product.link}}</div>
</div>
