<table [dataSource]="scrappers" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>Id</th>
    <td *matCellDef="let scrapper" mat-cell>{{scrapper.id}}</td>
  </ng-container>
  <ng-container matColumnDef="shopIcon">
    <th *matHeaderCellDef mat-header-cell></th>
    <td *matCellDef="let scrapper" mat-cell>
      <div *ngIf="scrapper.shopIcon">
        <img [src]="apiService.filesEndpoint + '/' + scrapper.shopIcon" alt="Ikona sklepu"/>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="shopName">
    <th *matHeaderCellDef mat-header-cell>Nazwa sklepu</th>
    <td *matCellDef="let scrapper" mat-cell>
      {{ scrapper.shopName | titlecase }} </td>
  </ng-container>
  <ng-container matColumnDef="datetimeStart">
    <th *matHeaderCellDef mat-header-cell>Data startu</th>
    <td *matCellDef="let scrapper" mat-cell> {{ scrapper.datetimeStart | date:'dd-mm-yyy HH:mm:ss' }} </td>
  </ng-container>
  <ng-container matColumnDef="datetimeEnd">
    <th *matHeaderCellDef mat-header-cell>Data zakończenia</th>
    <td *matCellDef="let scrapper" mat-cell> {{ scrapper.datetimeEnd | date:'dd-mm-yyy HH:mm:ss' }} </td>
  </ng-container>
  <ng-container matColumnDef="datetimeUpdate">
    <th *matHeaderCellDef mat-header-cell>Ostania aktualizacja</th>
    <td *matCellDef="let scrapper" mat-cell>{{ scrapper.datetimeUpdate | date:'dd-mm-yyy HH:mm:ss' }}</td>
  </ng-container>
  <ng-container matColumnDef="page">
    <th *matHeaderCellDef mat-header-cell>Strona</th>
    <td *matCellDef="let scrapper" mat-cell> {{ scrapper.page }}</td>
  </ng-container>
  <ng-container matColumnDef="newItems">
    <th *matHeaderCellDef mat-header-cell>Nowe produkty</th>
    <td *matCellDef="let scrapper" mat-cell>{{ scrapper.newItems }}</td>
  </ng-container>
  <ng-container matColumnDef="updatedItems">
    <th *matHeaderCellDef mat-header-cell>Zaktualizowane produkty</th>
    <td *matCellDef="let scrapper" mat-cell> {{ scrapper.updatedItems }} </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let scrapper; columns: displayedColumns;"
      [class.inactive-row]="compareScrapperDates(scrapper.datetimeUpdate)" mat-row></tr>
</table>
<mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
<mat-paginator [length]="scrappersLength" [pageSizeOptions]="[30, 50, 100]" [pageSize]="30"></mat-paginator>
