<h1>Home</h1>
<p>You're logged in with Angular 7 & JWT!!</p>
<p>Your role is: <strong>{{currentUser.roles}}</strong>.</p>
<p>Your token is: <strong>{{currentUser.token}}</strong>.</p>
<p>This page can be accessed by all authenticated users.</p>
<div>
  Current user from secure api end point:
  <ul>
    <li *ngIf="userFromApi">{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
  </ul>
</div>
