<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" mat-button>
      <mat-icon aria-label="Open filters">filter_list</mat-icon>
      Filtry
    </button>
    <span>Produkty</span>
    <mat-tab-group (selectedTabChange)="productList.changeLayout($event)" backgroundColor="primary" color="primary">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">view_module</mat-icon>
          &nbsp;Kafelki
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">view_stream</mat-icon>
          &nbsp;Lista
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <app-product-search (searchFormSubmit)="productList.getProducts($event)"></app-product-search>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-product-list #productList></app-product-list>
  </mat-sidenav-content>
</mat-sidenav-container>
