$colorRed: #f44336;

table {
  width: 100%;
  height: 100%;

  &.hide-tbody {
    .mat-row.ng-star-inserted {
      display: none;
    }

    th.mat-header-cell {
      text-align: center;

      &.mat-column-id {
        width: 1%;
        font-weight: bold;
      }

      &.mat-column-image {
        display: none;
      }

      &.mat-column-baseInfo {
        width: 1%;
      }

      &.mat-column-additionalInfo {
        width: 1%;
      }

      &.mat-column-normalPrice {
        width: 1%;
      }

      &.mat-column-outletPrice {
        width: 1%;
      }

      &.mat-column-discount {
        width: 1%;
      }

      &.mat-column-quality {
        display: none;
      }

      &.mat-column-updatedAt {
        width: 1%;
      }

      &.mat-column-createdAt {
        width: 1%;
      }

      &.mat-column-link {
        display: none;
      }

      &.mat-column-shopName {
        width: 1%;
      }
    }

    tbody {
      display: none;
    }
  }
}

.mat-column-id {
  width: 5%;
}

.mat-column-image {
  width: 5%;
  min-width: 100px;

  img {
    width: 100px;
  }
}

.mat-column-baseInfo {
  width: 20%;
  padding: 10px;
}

.mat-column-additionalInfo {
  width: 10%;
  padding: 10px;
}

.mat-column-normalPrice {
  width: 5%;
  padding: 10px;
}

.mat-column-outletPrice {
  width: 5%;
  padding: 10px;
}

.mat-column-discount {
  width: 5%;
  padding: 10px;
}

.mat-column-quality {
  width: 20%;
  padding: 10px;
}

.mat-column-updatedAt {
  width: 5%;
  padding: 10px;
}

.mat-column-createdAt {
  width: 5%;
  padding: 10px;
}

.mat-column-shop {
  width: 5%;
  padding: 10px;
}

.mat-column-link {
  width: 1%;
}

.mat-card {
  width: 100%;
  height: 100%;

  .mat-card-header {
    margin-top: 25px;

    mat-card-title,
    mat-card-subtitle {
      font-size: 12px;
    }
  }

  .mat-card-avatar img {
    height: 30px;
    float: right;
  }

  mat-card-content {
    &.mat-card-content {
      position: absolute;
      bottom: 41px;
      width: 100%;
      text-align: center;
      right: 0;
    }

    .product-card-image {
      max-width: 100%;
      max-height: 220px;
      object-fit: scale-down;
    }

    .mat-button {
      margin-top: 10px;
    }

    span span {
      &:nth-child(odd) {
        margin-right: 1%;
        width: 49%;
        display: inline-block;
        text-align: right;
      }

      &:nth-child(even) {
        margin-left: 1%;
        width: 49%;
        display: inline-block;
        text-align: left;
      }
    }
  }
}

.text-red-bold {
  color: $colorRed;
  font-weight: bold;
}
