<table [class.hide-tbody]="!isGridLayout" [dataSource]="products" class="mat-elevation-z8" mat-table matSort>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>{{isGridLayout ? 'Id' : 'Sortuj: '}} </th>
    <td *matCellDef="let product" mat-cell> {{product.id}} </td>
  </ng-container>
  <ng-container matColumnDef="image">
    <th *matHeaderCellDef mat-header-cell>Zdjęcie</th>
    <td *matCellDef="let product" mat-cell>
      <div *ngIf="product.imagePath">
        <img [src]="apiService.filesEndpoint + '/' + product.imagePath" alt="Zdjęcie produktu"/>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="baseInfo">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Informacje podstawowe</th>
    <td *matCellDef="let product" mat-cell>{{product.baseInfo}}</td>
  </ng-container>
  <ng-container matColumnDef="additionalInfo">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Informacje dodatkowe</th>
    <td *matCellDef="let product" mat-cell> {{product.additionalInfo}}</td>
  </ng-container>
  <ng-container matColumnDef="normalPrice">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Cena regularna</th>
    <td *matCellDef="let product" mat-cell> {{product.normalPrice}}</td>
  </ng-container>
  <ng-container matColumnDef="outletPrice">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Cena po obniżce</th>
    <td *matCellDef="let product" class="text-red-bold" mat-cell>{{product.outletPrice}}</td>
  </ng-container>
  <ng-container matColumnDef="discount">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>% Przeceny</th>
    <td *matCellDef="let product" mat-cell>{{product.discount * 100 | number : '1.0-0' }}%</td>
  </ng-container>
  <ng-container matColumnDef="quality">
    <th *matHeaderCellDef mat-header-cell>Stan</th>
    <td *matCellDef="let product" mat-cell>{{product.quality}}</td>
  </ng-container>
  <ng-container matColumnDef="updatedAt">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Zaktualizowano</th>
    <td *matCellDef="let product" mat-cell> {{product.updatedAt | date}} </td>
  </ng-container>
  <ng-container matColumnDef="createdAt">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Utworzono</th>
    <td *matCellDef="let product" mat-cell> {{product.createdAt | date}} </td>
  </ng-container>
  <ng-container matColumnDef="shopName">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Sklep</th>
    <td *matCellDef="let product" mat-cell> {{product.shopName | titlecase}} </td>
  </ng-container>
  <ng-container matColumnDef="link">
    <th *matHeaderCellDef mat-header-cell>Odnośnik</th>
    <td *matCellDef="let product" mat-cell>
      <a color="primary" href="{{product.link}}" mat-button mat-icon-button target="_blank">
        <mat-icon aria-label="Show in shop">open_in_new</mat-icon>
      </a>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let product; columns: displayedColumns;" mat-row></tr>
</table>
<div *ngIf="0 == isGridLayout">
  <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
  <mat-grid-list (window:resize)="onResize()" [cols]="rowItems" rowHeight="480px">
    <mat-grid-tile *ngFor="let product of products">
      <mat-card class="product-card">
        <mat-card-header>
          <div mat-card-avatar>
            <img [src]="apiService.filesEndpoint + '/' + product.shopIcon" alt="Ikona sklepu">
          </div>
          <mat-card-title>{{ product.baseInfo }}</mat-card-title>
          <mat-card-subtitle>{{ !!product.additionalInfo ? product.additionalInfo : '#'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img [src]="apiService.filesEndpoint + '/' +  product.imagePath" alt="Zdjęcie {{ product.baseInfo }}"
               class="product-card-image"
               mat-card-image/>
          <span>
              <span>Stan: </span>
              <span [matTooltipDisabled]="!product.quality"
                    matTooltip="{{ product.quality ? product.quality : '-'  }}"
                    matTooltipPosition="before">{{ product.quality ? product.quality.slice(0, 15) : '-' }}
              </span>
          </span>
          <span>
              <span>Cena regularna:</span>
              <span>{{ product.normalPrice }}</span>
          </span>
          <span>
              <span>Cena po obniżce:</span>
              <span>{{ product.outletPrice ? product.outletPrice : '-' }}</span>
          </span>
          <span>
              <span>% Przeceny:</span>
              <span><b class="text-red-bold">{{product.discount * 100 | number : '1.0-0' }}%</b></span>
          </span>
          <br/>
          <a color="primary" href="{{product.link}}" mat-button mat-stroked-button target="_blank">
            <mat-icon aria-label="Show in shop">shopping_cart</mat-icon>
            Odwiedź sklep
          </a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
<mat-paginator [length]="productsLength" [pageSizeOptions]="[30, 50, 100]" [pageSize]="30"></mat-paginator>
