.card-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    width: 30vh;
    text-align: center;

    mat-form-field {
      width: 100%;
    }

    button {
      width: 50%;
    }
  }
}
