@import "~@angular/material/prebuilt-themes/indigo-pink.css";

input.text-right-align::-webkit-outer-spin-button,
input.text-right-align::-webkit-inner-spin-button {
  display: none;
}

input.text-right-align {
  -moz-appearance: textfield;
}

mat-toolbar-row {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

  .home {
    font-size: 20px;
  }
}

.login-panel {
  width: 100%;
  text-align: right;
}
