<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <button class="home" mat-button routerLink="/">Wyszukiwarka Okazji</button>
      <button *ngIf="isUser" mat-button routerLink="/products">Produkty</button>
      <button *ngIf="isUser" mat-button routerLink="/shops">Sklepy</button>
      <button *ngIf="isAdmin" mat-button routerLink="/scrappers">Scrapery</button>
    </div>
    <div class="login-panel">
      <button *ngIf="isAdmin" mat-button routerLink="/admin">Admin</button>
      <button *ngIf="!isUser" mat-button routerLink="/login">Login</button>
      <button *ngIf="isUser" mat-button routerLink="/home">Twoje Konto</button>
      <button (click)="logout()" *ngIf="isUser" mat-button>Logout</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
