.sidebar-container {
  width: 500px;
  max-width: 100%;

  .sidebar-container {
    margin-top: 15px;
  }

  .text-right-align {
    text-align: right;
  }

  form {
    margin: 10px;

    mat-form-field,
    button {
      width: 100%;
    }

    mat-form-field {
      margin: 0 auto;

      &.priceFilter {
        width: 50%;
      }
    }
  }
}

.shop-option-img {
  vertical-align: middle;
}
