<div class="sidebar-container">
  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
    <div></div>
    <mat-form-field class="priceFilter" color="primary">
      <input [(ngModel)]="productSearch.normalPriceGte" matInput name="normalPrice[gte]" placeholder="Cena od"
             type="number">
      <span matPrefix>PLN&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-form-field class="priceFilter" color="primary">
      <input [(ngModel)]="productSearch.normalPriceLte" matInput name="normalPrice[lte]" placeholder="Cena do"
             type="number">
      <span matPrefix>PLN&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-form-field class="priceFilter" color="primary">
      <input [(ngModel)]="productSearch.outletPriceGte" matInput name="outletPrice[gte]" placeholder="Przecena od"
             type="number">
      <span matPrefix>PLN&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-form-field class="priceFilter" color="primary">
      <input [(ngModel)]="productSearch.outletPriceLte" matInput name="outletPrice[lte]" placeholder="Przecena po"
             type="number">
      <span matPrefix>PLN&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-form-field color="primary">
      <input [(ngModel)]="productSearch.baseInfo" class="text-right-align" matInput name="baseInfo"
             placeholder="Nazwa produkt"
             type="text">
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-select [(ngModel)]="productSearch.shops" multiple name="shop" placeholder="Sklepy">
        <mat-option *ngFor="let shop of shops" [value]="[shop.id]">
          <img [src]="apiService.filesEndpoint + '/' + shop.imagePath" alt="Ikona sklepu" class="shop-option-img"
               height="25">
          {{shop.name | titlecase}} ({{shop.productsCount}})
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button color="primary" mat-stroked-button type="submit">
      <mat-icon aria-label="Szukaj">search</mat-icon>
      Szukaj
    </button>
  </form>
</div>
